@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}

body * {
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: #444;
}

/* Breadcrumb styling i NavBar */
.breadcrumb {
  background-color: #e7e7e7;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 7px 7px 30px;
  margin: 45px 10vw 0px
}

.breadcrumb .userbreadcrumb {
  display: flex;
  align-items: center;
  margin: auto 2%;
}

.breadcrumb .albumbreadcrumb {
  display: flex;
  align-items: center;
  margin: auto 2%;
}

.spaceslash {
  margin-right: 25px;
}

/* HomeView & Userdetails styling  */
.favvo-list {
  border: 2px solid black;
  background-color: rgb(238, 153, 153);
  margin: 10px;
}

.employee-list {
  border: 2px solid black;
  background-color: beige;
  margin: 10px;
}

.user-list {
  max-width: 640px;
  margin: 20px auto;
}

.user {
  padding: 6px 20px;
  background: #fff;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.user {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.namninfo {
  cursor: pointer;
}

i {
  cursor: pointer;
}

/* UserView */

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h2 {
  margin: 0;
  font-size: 2em;
  padding-top: 25px;
  margin-left: 15px;
  color: #777;
}

header .italic-section {
  display: flex;
}

header .italic-section p {
  font-style: italic;
  font-size: .8rem;
  margin: auto 10px;
}

.albums {
  display: flex;
  justify-self: flex-start;
  max-width: 640px;
  margin: 30px auto 10px;
}

.album-list {
  max-width: 640px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

/* AlbumView */

.photos {
  margin: 2vh 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.photo {
  width: 200px;
  height: 200px;
  border: #444 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.452);
}

.photo img {
  width: 200px;
  height: 200px;
  border: #444 2px solid;
  transition: 0.3s linear;
  cursor: pointer;
}

.photo:hover img {
  transform: scale(1.1);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.exitspan {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 200;
}

.alt-titel {
  position: absolute;
  top: calc(50% + 20px);
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  z-index: 200;
}

.photos .overlay-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #f2f2f2 2px solid;
  border-radius: 5px;
  object-fit: cover;
  max-width: 600px;
  z-index: 200;
}

@media(max-width:780px) {
  .popup img {
    width: 90%;
  }
}
